*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body{
	
	font-family: "Roboto", sans-serif;
}
.heroimg{
	
	background-color:#fcdb00;
	padding:60 0 110px;
	
}
.container{
	
	width:1170px;
	margin: 0 auto;
	
}
.row{
	
	display:table;
	width:100%;
	clear:both;
	
}
 ul{
	list-style:none;
	display:inline-block;
	
}
.navbar ul li{
	margin: 0 16px;
	
	display:inline-block;
}
.navbar{
	
	text-align:right;
	
}
 a:link,a:visited{
	 
	 text-decoration:none;
	
	 
 }
[class ^="col-"]{
	
	padding:0 15px;
	float: left;
}
.col-3{
	
	width:clac(100%*3/12);
	
	
}
.col-9{
	width:calc(100%*9/12);
	
	
}
.col-4{
	
	width:calc(100%*4/12);
	
}
.col-5{
	
	width:calc(100%*5/12);
}
.col-10{
	
	width:calc(100%*10/12);
	
}
.col-offset-1{
	
	margin-left:calc(100%*1/12);
	
}
.col-offset-2{
	
   margin-left:calc(100%*2/12);	
	
}
.navbar ul li a:link,
.navbar ul li a:visited{
	
	font-size:22px;
	font-weight: bold;
	color:#010101;
	padding:0 16px;
	text-transform:capitalize;
	height:55px;
	line-height:55px;
	display:inline-block;
	
	
}
.primary-heading{
	
   margin-top:100px;
   color:#010101;
   font-size:32px;
   font-weight:700;
   margin-bottom:25px;
   
	
}
.secondary-heading{
	
	color:#313841;
	font-size:20px;
	font-weight:regular;
	margin-bottom:25px;
	
}
.para{
	
	color:#555555;
	font-size:16px;
	font-weight:regular;
	margin-bottom;
	
}

.ipad{
	
	margin-top:50px;
}

.store ul {
	margin-top: 25px;
	display:inline-block;
}
.store ul li{
	padding-right:30px;
	display:inline-block;
}
.store ul li a img{
	
	transition:all 0.5s ease-in-out;
	
}
.store ul li a img:is(:hover, :focus, :active){
	

	transform:scale(1.2) rotate(360deg) translatey(-20px);
	
}

.features{
	
	background-color:#fffff;
	padding: 70px 0 70px;
	
}
.features .primary-heading{
	margin-top:70px;
	text-align:center;
	margin-bottom:25px;

}
.features .secondary-heading{
	
	text-align:center;
	color: #313841;
	font-size:20px;
	margin-bottom:100px;
	
}
.thumbnail{
	
	margin-bottom:90px;
	
}
.thumbnail h4{
	
	font-size:22px;
	font-weight:bold;
	margin-bottom:5px;

	
}
.thumbnail p{
	
	color:#898989;
	
}

.contact{
	
	background-color:#010101;
	padding: 90px 0 130px;
}
.contact-first{
	
	padding: 0 25px;
	
}
.contact .primary-heading{
	
	color:#fcdb00;
	text-align: center;
	margin-top:70px;
	
	
}
.contact .secondary-heading{
	
	color:#898989;
	text-align:center;
	margin-bottom:50px;
	
	
}
.email, .btn{
	
	height:50px;
	border-radius:5px;
}

.btn{
	
	width:125px;
	background-color:#fcdb00;
	text-transform:uppercase;
	border: 1px solid #fcdb00;
	margin-left:20px;
}
.email{
	
	outline: none;
	width:calc(100% - 150px);
	padding: 25px;
	color:#898989;
}
.email::placeholder{
	 
	color:898989;
}

.mb-80{
	
	margin-bottom:80px;
}

.contact .store{
	
	text-align:center;
}

.contact .store ul li a i{
	
	color:#fcdb00;
	
}
.contact .store ul li a i{
	
	transition: all 0.5s ease-in-out;
	
}
.contact .store ul li a i:is(:hover, :focus, :active){
	
	transform: scale(1.2) rotate(360deg) translatey(-20px);
	
}
.mb-125{
	
	margin-bottom:125px;
	
}

.footer{
	
	color:white;
	line-height:25px;
	
}
.footer a:is(:link, :visited){
	
	color:white;
}

















/* *{ */
	/* margin:0; */
	/* padding:0; */
	/* box-sizing:border-box; */
	
/* } */
/* body{ */
	
	/* font-family: "Roboto", sans-serif; */
/* } */
/* .heroimg{ */
    
	/* background-color:#fcdb00; */
	/* padding:60px 0 110px; */
/* } */
/* .container{ */
	/* width:1170px; */

	/* margin: 0 auto; */
	
	
/* } */
/* .row{ */
	/* display: table; */
	/* width:100%; */
	/* clear:both; */
	
/* } */
/* [class^="col-"]{ */
	
	/* padding:0 15px; */
	/* float:left; */
	
/* } */
/* ul{ */
	/* list-style:none; */
	
/* } */
/* a:link, a:visited{ */
	
	/* text-decoration:none; */
/* } */

/* .col-3{ */
	/* width:calc(100%*3/12); */

	
/* } */
/* .col-5{ */
	
	/* width:calc(100%*5/12); */
	
/* } */
/* .col-9{ */
	
	/* width:calc(100%*9/12); */
	
/* } */
/* .col-offset-2{ */
	
	/* margin-left:calc(100%*2/12) */
	
/* } */

/* .navbar	ul li */
/* { */

   /* margin:0 16px; */
	/* display:inline-block; */
	

/* } */

/* .navbar ul{ */
	/* display:inline-block; */
	
/* } */
/* .navbar{ */
	/* text-align:right; */
/* } */
/* .navbar	ul li a:link, */
/* .navbar	ul li a:visited{ */
	
	/* color:#010101; */
	/* font-size:22px; */
	/* font-weight:700; */
	/* text-transform:capitalize; */
	/* padding: 0 16px; */
	/* height: 55px; */
	/* line-height:55px; */
	
/* } */
/* .primary-heading{ */
	
	/* margin-top:75px; */
	/* color:#010101; */
	/* font-size:32px; */
	/* font-weight: 700; */
	/* margin-bottom:25px; */
	
	
/* } */
/* .secondary-heading{ */
	
	/* color:#313841; */
	/* font-size:20px; */
	/* font-weight: regular; */
	/* margin-bottom:25px; */
	
/* } */
/* .para{ */
	
	/* color:#555555; */
	/* font-size:16px; */
	/* margin-bottom:25px; */
	
	
/* } */
/* .ipad{ */
	/* margin-top:55px; */
	/* margin-left:80px; */
	
	
/* } */

/* } */
/* .store{ */
	
	/* display:inline-block; */
	
/* } */
/* .store ul li{ */
	/* padding: 15px; */
	/* display:inline-block; */
/* } */